/* .hero-container {
    border: 2px solid blue;
} */
.hero-container > img {
    display: block;
    height: 450px;
    width: 100%;
}
.hero-text {
    /* border: 2px solid red; */
    padding: 1rem;
    width: 60%;
    /* margin: auto; */
}
.hero-text > h1 {
    font-style: normal;
    font-weight: bolder;
    font-size: 36px;
    line-height: 110%;
    padding-block: 1rem;
}
.hero-text > p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    color: #222222;
}
/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
    .hero-container > img {
        height: 500px;
    }
  }